#landing_wrapper {
  width: 100vw;
  height: 100vh;
  background: blue;
}

#bg_video_loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.bg_video_player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
